@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
.auth-form-container{
  border: 1px solid white;
  border-radius: 2%;
  padding: 0px 30px;
}
.auth-form-container,.login-form {
    display: flex;
    flex-direction: column;
    font-family: "Bree Serif";
}
h2{
  font-size: 3em;
}
label {
    text-align: left;
    font-size: 1.5em;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
  }
  
  .link-btn {
    background: none;
    color: rgb(68, 68, 68);
    text-decoration: underline;
  }