* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/main.jpg");
  background-size: 25%;
}

header {
  min-height: 20vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  min-height: 72.3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20;
}

footer {
  min-height: 4vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #292929;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}

#form {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#start {
  background-color: #ffbb00;
  margin-bottom: 1em;
}

#answer {
  background-color: #edb458;
}

@keyframes firework {
  0% {
    transform: translate(-50%, 40vh);
    width: 0.5vmin;
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  100% {
    width: 45vmin;
    opacity: 0;
  }
}

.firework,
.firework::before,
.firework::after {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */ radial-gradient(
        circle,
        #ff006f 0.2vmin,
        #0000 0
      )
      50% 00%,
    radial-gradient(circle, #ff006f 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #ff006f 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ff006f 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ff006f 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #ff006f 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff006f 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #ff006f 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #ff006f 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff006f 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #ff006f 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff006f 0.5vmin, #0000 0) 13% 24%;
  background-size: 0.8vmin 0.8vmin;
  background-repeat: no-repeat;
  animation: firework 3s infinite;
}

.firework::before {
  transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.typewriter h3 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
