* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    min-height: 10vh;
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.body {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #cc6565;
}

.footer {
    min-height: 10vh;
    background: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}